.footerStyling {
    display: flex;
    align-items: center;
    color: white;
    height: 75px;
    margin: 0;
}
.jumboStyling {
    height: 100px;
    margin: 15px 20px;
    background: lightgray;
}
.jumboWrap {
    margin: 10px 20px;
}
.cardStyling {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin: 15px 0;
}
/* .cardFooterStyling {
    margin: 0;
} */